{% extends "base.html" %}
{% block title %}Image Gallery{% endblock %}
{% block content %}
<h1>Image Gallery</h1>
<div class="row">
    {% for image in images %}
    <div class="col-md-4">
        <div class="card mb-4">
            <img src="{{ image.image_url }}" class="card-img-top" alt="Uploaded image">
            <div class="card-body">
                <p class="card-text">Uploaded by: {{ image.uploader }}</p>
                <p class="card-text"><small class="text-muted">On {{ image.upload_date }}</small></p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}